*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 3709px;
   
}
header{
    width: 100%;
    height: 135px;
    

}
.logo{
    background-color: #373737;
    height: 66px;
    width: 100%;
    display: flex;
    
      
}
.logo__letter{
    margin-left: 300px;
    width: 80px;
    height: 66px;
    background-color: #f26c4f;
   padding: 8px 30px 22px 30px;
    
    
}
.logo__letter-box{
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;

       
}
.logo__triangle{

    margin-top: 23px;
    margin-left: 0px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 12px solid #f26c4f;
        border-bottom: 10px solid transparent;
    
    
}
.logo__name{
   
   font-family: Roboto, sans-serif;
   color: rgb(255, 255, 255);
   font-size: 18px;
   margin: 24px 0px 24px 10px;
}
nav{
    background-color: #474747;
    height: 69px;
    padding-top: 27px;
}
.menu{
    width: 400px;
    margin-left: 325px;
    display: flex;
    justify-content: space-between;
    height: 14px;
    
}
.menu__item{
    width: 60px;
    margin-right: 0px;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    border-right: white;
    border-right-style: solid;
    border-right-width: 1px;
}
.menu__item a{
    text-decoration: none;
    color: white;
}

.menu__box:nth-child(5) .menu__item{
    border: none;
    
}

.hover__menu-items{
    background-color: #474747;
    width: 50px;
    height: 4px;
    margin-top: 24px;
    
}
.menu__box:nth-child(3) .menu__item{
      margin-left: 5px;
    

}
.menu__box:hover .hover__menu-items{
    background-color: #f26c4f;
    
}
