html{
    overflow-x: hidden;
    overflow-y: auto;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(layear-small.jpg);
    overflow-x: hidden;
     
}
header{
    width: 100%;
    height: 135px;
     

}
.logo{
    background-color: #373737;
    height: 66px;
    width: 100%;
    display: flex;
    
      
}
.logo__letter{
    margin-left: 17.6%;
    width: 80px;
    height: 66px;
    background-color: #f26c4f;
   padding: 8px 30px 22px 30px;
    
    
}
.logo__letter-box{
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;

       
}
.logo__triangle{

    margin-top: 23px;
    margin-left: -1px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 12px solid #f26c4f;
        border-bottom: 10px solid transparent;
    
    
}
.logo__name{
   
   font-family: Roboto, sans-serif;
   color: rgb(255, 255, 255);
   font-size: 18px;
   margin: 24px 0px 24px 10px;
}
nav{
    background-color: #474747;
    height: 69px;
    padding-top: 27px;
}
.menu{
    width: 400px;
    margin-left: 19%;
    display: flex;
    justify-content: space-between;
    
    height: 14px;
    
}
.menu__item{
    width: 60px;
    margin-right: 0px;
    
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    border-right: white;
    border-right-style: solid;
    border-right-width: 1px;
}
.menu__item a, .second-content a, .plus a{
    text-decoration: none;
    color: white;
}

.menu__box:nth-child(5) .menu__item{
    border: none;
    
}

.hover__menu-items{
    background-color: #474747;
    width: 50px;
    height: 4px;
    margin-top: 24px;
    
}
.menu__box:nth-child(3) .menu__item{
      margin-left: 5px;
    

}
.menu__box:hover .hover__menu-items{
    background-color: #f26c4f;
    
}
main{
    margin-left: 17.6%;
    margin-right: 17.6%;
    display: flex;
    flex-direction: column;
    
    width: 64.8%;
    
}
.search{
    width: 300px;
    height: 46px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px 0px rgb(0, 0, 0);
}
input{
    margin-left: 10%;
    margin-right: 5%;
    height: 17px;
    width: 150px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #959595;
}
.fa-clock {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 23px;
    color: #f26c4f;
}
.social{
    width: 300px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-top: 16px;
}
.social__items .fas{
    margin-right: 5px;
}
.social__items .fab{
    margin-right: 5px;
}

.social a{
    text-decoration: none;
    color: #959595;
}
.subhead {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    width: 100%;
    margin-top: 15px;
}
.first-content{
    height: 390px;
    width: 100%;
    background-color: brown;
    display: flex;
    

}
.first-content__big{
    background-image: url(Bridge2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.first-content__line{
    width: 1%;
    height: 100%;
    background-color: #f26c4f;
}
.first-content__small{
    width: 34%;
    height: 100%;
    background-color: #373737;
}
.first-content__small-triangle{
    position: absolute;
    margin-top: 40px;
    margin-left: 6px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 12px solid #f26c4f;
        border-bottom: 10px solid transparent;
       
}
.first-content__small-text{
    width: 72%;
    margin: 29px auto;
    
    
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    
}
.first-content__small-text h2{
    font-size: 19px;
    margin-bottom: 14px;
    letter-spacing: -0.19px;
    color: white;
}
.first-content__small-text p{
    line-height: 1.92;
    color: #a7a7a7;
}
.first-content__small-text .fa-clock{
    color: #a7a7a7;
}
.first-content__small-text p:nth-child(3){
    margin-top: 15px;
    text-align: right;
}
.first-content__big-text{
width: 370px;
height: 62px;
background-color: rgba(000, 000, 000, 0.5);
}
.first-content__big-text p{
    margin-top: 22px;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 16px;
}
.second-content{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}
.second-content__item{
    width: 32%;
    height: 375px;
    background-color: white;
    box-shadow: 0px 1px 0 0 #d3d3d3;
       
}
.second-content__item:nth-child(1) .second-content__item-img{
    background-color: blueviolet;
    background-image: url(Layer\ 6@2x.jpg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-content__item:nth-child(2) .second-content__item-img{
    background-color: blueviolet;
    background-image: url(Layer\ 8@2x.jpg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-content__item:nth-child(3) .second-content__item-img{
    background-color: blueviolet;
    background-image: url(Layer\ 7@2x.jpg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.second-content__item-text, .third-content__item-text{
    width: 100%;
    height: 50%;
    padding: 24px;
    font-family: Arial;
    font-weight: bold;
    color: #4f4f4f;
    font-size: 17px;
}
.second-content__item-text p, .third-content__item-text p{
    color: #646464;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 2;
    margin-top: 17px;
    font-weight: normal;
}
.second-content__item-img, .img{
    display: flex;
    justify-content: flex-end;
}
.second-content__item-triangle, .triangle{
    width: 0;
	height: 0;
	border-top: 90px solid #f26c4f; 
	border-left: 90px solid transparent;
}

.second-content__item-plus, .plus{
    position: absolute;
    padding-right: 20px;
    padding-top: 7px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
}
.third-content{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.third-content__larg{
    width: 66%;
    /* min-width: 500px; */
    height: 100%;
}
aside{
    width: 32%;
    min-width: 254px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.third-content__small-item1{
    width: 100%;
    
    height: 580px;
    background-color: #373737;
}
.third-content__item-img{
    background-color: rgb(105, 77, 133);
    background-image: url(Layer\ 9.jpg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.third-content__item-text p, .third-content__item-text h2{
    color: white;
}
.third-content__small-item2 h2{
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    color: #474747;
    padding-top: 20px;
}
.third-content__small-item2{
    width: 90%;
    height: 230px;
    margin: 10px auto;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #a7a7a7;

}
.third-content__small-item2 p{
    margin-top: 27px;
    line-height: 1.92;
}
.third-content__small-line{
    width: 100%;
    height: 1px;
    background-color: black;
}
.third-content__small-contacts{
    width: 100%;
    height: 45px;
    min-width: 200px;
    box-shadow: 0px 1px 1px 0;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
    
}
.third-content__small-text{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #474747;
    margin-left: 25px;
    padding-top: 13px;
    display: inline-block;
}

.third-content__small-names{
    font-family: Arial;
    font-size: 12px;
    color: #a7a7a7;
    margin-left: 10px;
    margin-top: 15px;
    display: inline-block;


}
.third-content__small-shadow{
    width: 3px;
    height: 45px;
    background-color: #cacaca;
    position: absolute;
}

.third-content__larg-posts li{
    list-style: none;
    display: inline-block;
    

}
.third-content__larg-posts:nth-child(1) ul li + li:before{
    content:"|";
    color: #8f8f8f;
    margin:0 13px;
}
.third-content__larg-posts:nth-child(2) ul li + li:before{
    content:"|";
    color: white;
    margin:0 13px;
}
/* .third-content__larg-posts:nth-child(1), .third-content__larg-posts:nth-child(2){
    height: 175px;
} */
.third-content__larg-posts{
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 1px 0;
    margin-bottom: 10px;
    position: relative;
    padding-right: 20px;

}
.third-content__larg-posts:hover h2, .third-content__larg-posts:hover ul, .third-content__larg-posts:hover p{
    /* background-color: #f26c4f; */
    color: white;
    line-height: 1.5;
}
.third-content__larg-posts:hover{
    background-color: #f26c4f; 
}

/* div.third-content__larg-posts:nth-child(2), div.third-content__larg-posts:nth-child(2) h2, div.third-content__larg-posts:nth-child(2) ul{
    background-color: #f26c4f;
    color: white;
    line-height: 1.5;
} */
.third-content__larg-posts h2{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 5px;
}
.third-content__larg-posts p{
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
}
.third-content__larg-line{
    height: 100%;
    width: 4px;
    background-color: #ce4e32;
    position: absolute;
}
.third-content__larg-posts ul{
    font-family: Tahoma;
    font-size: 10px;
    color: #8f8f8f;
    line-height: 2.1;
    letter-spacing: 0.1px;
    text-shadow: 0px 1px 0 white;
}
.third-content__larg-items{
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.third-content__larg-items li{
    margin: 0 8px;
}
.third-content__larg__button-more{
    height: 50px;
    width: 100%;
    margin: 28px auto;
    text-align: center;
    color: #bdbdbd;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 1px 0 #bdbdbd;
    cursor: pointer;
}
.third-content__larg__text-boxage{
    color: #707070;
    padding: 30px 45px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px black;

}
.third-content__larg__text-boxage h2{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}
.third-content__larg__text-boxage p{
    margin-top: 40px;
    line-height: 1.71;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
.third-content__larg__under-boxage{
    display: flex;
    justify-content: space-between;
    padding: 13px 25px;
    width: 100%;
    height: 40px;
    font-family: Arial;
    font-size: 12px;
    color: #a2a2a2;
    box-shadow: 0px 1px 1px 0px black;
    word-spacing: 3px;
}
.third-content__larg__under-boxage .fas{
    color: #f26c4f;
}
.third-content__larg__block{
    width: 100%;
    /* height: 610px; */
    background-color: white;
    margin-top: 15px;
    box-shadow: 0px 1px 1px 0px black;
}
.third-content__larg__block-img{
    background-color: blueviolet;
    background-image: url(Layer13.jpg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.third-content__larg__block-text{
    width: 100%;
    height: 50%;
    font-family: Arial;
    color: #707070;
    padding: 30px 35px;
       
}
.third-content__larg__block-text h2{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}
.third-content__larg__block-text p{
    font-family: Arial;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.6;
}
.third-content__larg__text-box{
    width: 100%;
    /* height: 495px; */
    margin: 15px 0;
    padding: 50px 45px 20px 45px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px black;
}
.third-content__larg__text-box h2{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color: #707070;
}
.third-content__larg__text-box p{
    font-family: Arial;
    font-size: 14px;
    color: #949494;
    line-height: 1.6;
    margin-top: 25px;
}
footer{
    background-color: #373737;
    /* height: 145px; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 15px;
    margin-top: 30px;
    
}
.footer-menu li{
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    color: white;
    margin-right: 10px;
}
.footer-container p{
    font-family: Arial;
    font-size: 11px;
    color: #7e7e7e;
    line-height: 1.91;
    margin-top: 25px;
}
.footer-container{
    justify-self: center;
    height: 100%;
    padding-top: 37px;
    width: 65%;
}


 

@media (max-width: 1200px){
    main{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    }
    .logo__letter{
        margin-left: 10%;
    }
    .menu{
        margin-left: 12%;
    }
    
}
@media (max-width: 992px){
    aside{
        width: 100%;
        /* min-width: 500px;     */
    }
    
    .third-content__larg{
        width: 100%;
    }
    .second-content__item{
        width: 100%;
        display: flex;
        height: 200px;
        margin-bottom: 15px;
    }
    .second-content__item:nth-child(1) .second-content__item-img{
        width: 50%;
        height: 100%; 
    }
    .second-content__item:nth-child(2) .second-content__item-img{
        width: 50%;
        height: 100%;
    }
    .second-content__item:nth-child(3) .second-content__item-img{
        width: 50%;
        height: 100%; 
    }    
    .second-content__item-text, .third-content__item-text{
        width: 50%;
        height: 100%;
    }
    .third-content__small-item1{
        display: flex;
        height: 250px;
    }
    .third-content__item-img{
        width: 50%;
        height: 100%;
    }
       
}

@media (max-width: 768px){
    main{
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        }
        .logo__letter{
            margin-left: 3%;
        }
        .menu{
            margin-left: 5%;
        }
    footer{
        /* height: 185px; */
        /* min-width: 500px; */
    }
    .social{
        width: 100%;
        height: 30px;
        /* min-width: 450px; */
    }
    .search__text{
        width: 100%;
        
    }
    .search{
        width: 100%;
        /* min-width: 500px; */
    }
    
   
}

@media (max-width: 576px){
    .first-content{
        height: 415px;
        display: flex;
        flex-wrap: wrap;
        
    }
    .first-content__small-text{
        margin: 29px 35px;
    }
    .first-content__big{
        width: 100%;
        height: 40%;

    }
    .first-content__line{
        width: 100%;
        height: 2%;

    }
    .first-content__small{
        width: 100%;
        height: 58%;
    }
    .first-content__small-triangle{
        display: none;
    }
    .logo{
        /* min-width: 500px; */
    }
    .menu{
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        
        width: 100%;
    }
    nav{
        width: 100%;
        /* min-width: 500px; */
    }
    .second-content{
        /* min-width: 500px; */
    }
    main{
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
    .logo__letter{
        margin-left: 2%;
    }
    .menu{
        margin-left: 3%;
    }
    .subhead{
        margin: 0 50px 0 0;
    }
    .third-content__small-item1{
        height: 300px;
    }
}

@media (max-width: 480px){
    .first-content__big{
        width: 100%;
        height: 39%;
    }
    .first-content__small{
        width: 100%;
        height: 61%;
        padding-bottom: 5px;
    }
    .first-content{
        height: 430px;
    }
    .second-content__item-text h2, .third-content__item-text h2{
        font-size: 14px;
    }
    .second-content__item-text p, .third-content__item-text p{
        font-size: 10px;
    }
    .first-content__small-text h2, .third-content__small-item2 h2{
        font-size: 15px;
    } 
    .third-content__larg-items h2{
        font-size: 15px;
    }
    .third-content__larg-items p{
        font-size: 11px;
    }
    .third-content__larg__text-boxage h2, .third-content__larg__block-text h2, .third-content__larg__text-box h2{
        font-size: 15px;
    }
    .third-content__larg__text-boxage p, .third-content__larg__block-text p, .third-content__larg__text-box p{
        font-size: 11px;
    }
    .third-content__small-item1{
        display: block;
        height: 330px;
    }
    .third-content__small-item1 .third-content__item-img{
        width: 100%;
        height: 50%;
    }
    .third-content__small-item1 .third-content__item-text{
        width: 100%;
        height: 50%;
    }
    
}
@media (max-width: 320px){
    
    .menu__item{
        border: none;
    }
}