caption {
    font-size: 2.5em;
    color: rgb(0, 0, 0);
}
td {
    border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
 border-right-width: 3px;
 border-color: black;
}
#pum {
    background-color: cadetblue;
}
.content {
    font-size: 3.3em;
   color: rgb(223, 105, 105);
}
.content2 {
    font-size: 2.5em;
}