/* .clearfix::after {
    content: '';
    clear: both; 
    display: block;
} */
 /* .nav-list {
     list-style-type: none; 
    list-style-image: url(kot.jpg);
    list-style-position: inside; 
    list-style: none;
}  */

/* position: sticky

префиксы для браузеров: 
-moz - mozilla
-webkit - safari3+ chrome
-ms - IE8
-khtml - safari до 3
-o - opera */

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 5000px;
    background: lightyellow;
}

header {
    background: lightsteelblue;
    position: sticky;
    top: -1px;
    height: 70px;
    padding-top: 45px;
    
}
.nav-list {
    list-style: none;
}
.nav-list__item {
    float: left;
    margin-left: 30px;
}
.nav-list__item__link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.clearfix {
    clear: both;

}

/* blocks */

.hover-div {
    float: left;
    width: 30%;
    height: 300px;
    background: lime;
    margin: 1.65%;
    box-sizing: border-box;
    background-size: cover;
    cursor: pointer;

    /* окружность */
    border-radius: 50%;
    border-radius: 15px 60px 5% 1%;

    /* прозрачность */
    opacity: 1;

    /* тени */
    -webkit-box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.5);
    
    
}
 /* .hover-outer a:nth-child(1) .hover-div, .hover-outer a:nth-child(3) .hover-div {
    background-image: url(kot.jpg);
}
.hover-outer a:nth-child(2) .hover-div {
    background-image: url(fon.jpg);
} */
/* .hover-div:before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    background: aliceblue;
    opacity: 0.5;
    padding-top: calc(50% - 50px);
    padding-left: calc(50% - 25px);

    
}
.hover-div:hover:before {
    display: block;
}  */

.hover-outer a:nth-child(1) .hover-div {
    
    /* background: linear-gradient(to bottom left, black, #fff, green ); */
    background: radial-gradient(at top left, red, yellow, green);
   
    
}
.hover-outer a:nth-child(1) .hover-div:hover {
    transform: translate(10px, 20px);

}
.hover-outer a:nth-child(2) .hover-div {
    background: linear-gradient(red, yellow );
}
.hover-outer a:nth-child(2) .hover-div:hover {
    transform: rotate(45deg); 
    /* 45deg - это 45 градусов */

}
.hover-outer a:nth-child(3) .hover-div {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 25%);

}

.hover-outer a:nth-child(3) .hover-div:hover {
    /* transform: scale(0.9); */
    transform: skew(15deg);
}


/* 
transition собирательное свойство

transition-property - свойство которое делаем плавно
transition-duration -длительность
transition-timing-function - по нарастающей или убывающей 
transition-delay - задержка перед плавным переходом */

/* @keyframes example {
    from {
        left: 0;
    }
    to {
        left: 300px;
    }
} */

/* animation
animation-name
animation-duration
animation-timing-function
animation-delay
animation-iteration-count
animation-direction normal alternate revers alternate-reverse */



@keyframes example {
    0% {
        margin-left: 0;
        border-radius: 15%;
    }
    50% {
        margin-left: 150px;
        border-radius: 30%;
    }
    100% {
        margin-left: 300px;
        border-radius: 50%;
    }
}



.transition {
    width: 100px;
    border: 2px solid green;
    background: yellow;
    height: 100px;
    border-radius: 0em;
    /* transition: width 2s ease, height 1s, background-color 0.1s, transform 2s, border-radius 2s ; */
       /* transition: transform 1s steps(4, end); */
       animation: example 2s linear 2s infinite normal;
}
.transition:hover {
    width: 200px;
    height: 200px;
    /* border-radius: 50%;
    background-color: red; */
    /* transform: rotate(180deg) */
    transform: translateX(100px)
}

@keyframes circle {
    from {
        margin-left: -20%;

    }
    to {
        margin-left: 100%;

    }
        
}


.view {
    background-color: black;
    width: 100%;
    height: 25px;
    overflow-x: hidden;
    /* overflow-x: scroll; */

}
 .circle {
     color: salmon;
     background-color: red;
     background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.9)25%, rgba(0, 0, 0, 0.1)50%,  rgba(0, 0, 0, 0.9)75%);
     background-image: -moz-linear-gradient(left, rgba(0,0,0,0.9)25%, rgba(0, 0, 0, 0.1)50%,  rgba(0, 0, 0, 0.9)75%);
     background-image: -o-linear-gradient(left, rgba(0,0,0,0.9)25%, rgba(0, 0, 0, 0.1)50%,  rgba(0, 0, 0, 0.9)75%);
     background-image: linear-gradient(left, rgba(0,0,0,0.9)25%, rgba(0, 0, 0, 0.1)50%,  rgba(0, 0, 0, 0.9)75%);
     height: 100%;
     width: 20%;
     -webkit-animation: circle 4s linear 0s infinite alternate;
     -moz-animation: circle 4s linear 0s infinite alternate;
     -o-animation: circle 4s linear 0s infinite alternate;
     animation: circle 4s linear 0s infinite alternate;
    }
   
    .text {
        width: 20%;
        height: 250px;
        overflow-y: scroll;
    }