body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.box {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    width: 210px;
}
label {
    margin-left: 15px;
}
.popUp{
    padding: 10px;
    text-align: center;
    position: absolute;
    /* width: 300px; */
    top: 40px;
    left: 30px;
    border: 1px solid rgb(87, 86, 151);
    border-radius: 6px;
    background-color: blanchedalmond;
}
span {
    color: crimson;
}
.hide {
    display: none;
}