body{
    text-align: center;
    padding: 0;
    margin: 0;
}

#list, span{
    padding: 0;
    list-style: none;
    margin-right: 5px;
}
.remove, .mark {
    color: blue;
    cursor: pointer;
}
.remove:hover, .mark:hover{
    text-decoration: underline;
}
.done{
    text-decoration: line-through;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
}
.red{
    background-color: red;
}