/* stylelint-disable */
.header {
    position: fixed;
    z-index: 3;
    width: 100%;
}
.menu {
    width: 53%;
    margin-right: 65px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu__list__item {
    display: inline-block;
    position: relative;
    margin: 50px 0;
    .link {
        // position: relative;
        text-decoration: none;
        // background: linear-gradient(to top, #a8a6a6e7 30%, #ffffffd5 50%, #ffffff 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: rgb(255, 255, 255);
        font-size: 14px;
        line-height: 16px;
        font-family: "Roboto";
        font-weight: normal;
        // text-shadow: 0px 0px 2px;
        // -webkit-text-stroke:  0.02em #d6d6d6a4;
    }
}
.flexContainer {
    @include dFlex(space-between, unset, unset, unset);
}
.wrapper {
    @include wrapper(0, 7%);
}

.logo-img {
    margin-top: 20px;
}
.contact {
    width: 135px;
    height: 28px;
    margin: 35px 47px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    background: #329b87;
    border-radius: 30px;
    border-style: groove;
    .link {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        line-height: 16px;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 20px;
            box-shadow: 0 6px 17px 9px #329b88b7;
        }
    }
}
.burger {
    display: none;
}
.burger-active {
    display: none;
}
.contactUs-list {
    display: none;
}
.headerBack {
    background-color: rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(10px);
    padding-bottom: 10px;
}




@media(max-width: 768px) {
    .menu {
        position: relative;
        margin-top: 15px;
    }
    .burger {
        display: block;
        position: absolute;
        top: 30px;
        left: 8%;
        color: #ffffff;
    }
    .headerBack {
        height: 115px;
    }
    .menu__list {
        display: none;
        background-color: rgba(0, 0, 0, 0.729);
        // backdrop-filter: blur(15px);
    }
    .active {
        .menu__list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 10px;
            // background-color: rgba(0, 0, 0, 0.329);
            // backdrop-filter: blur(10px);
            .menu__list__item {
                align-self: center;
                margin: 10px 10px;
            }
        }
        .menu {
            position: relative;
        }
        .burger {
            display: none;
        }
        .burger-active {
            display: block;
            position: absolute;
            top: 30px;
            left: 8%;
            color: #ffffff;
        }
    }
        
    .menu__list__item {
        .link {
            font-size: 12px;
        }
    }
}
.contact {
    margin: 35px 0;
}

@media (max-width: 480px) {
    .contact {
        display: none;
    }
    .contactUs-list {
        display: inline-block;
    }
    .menu {
        width: 70%;
        margin: 0;
    }
    .headerBack {
        height: 80px;
        img {
            width: 60px;
        }
    }
    .header {
        img {
            width: 60px;
        }
    }
}
/* stylelint-enable */