
.footer {
    display: flex;
    justify-content: center;
    background-color: #3b4750;
    padding: 70px;
    .link {
        text-decoration: none;
    }
    .text, .link, .logo-text {
        color: #ffffff;
    }
    .footer__item {
        width: 20%;
        // margin-left: 30px;
    }
    .footer__item-planer {
        width: 30%;
        margin-left: 30px;
    }
    .logo-text {
        font-family: Roboto, serif;
        font-size: 18px;
        line-height: 21px;
        border-bottom: 1px solid #ffffff;
        width: 100px;
        padding-bottom: 7px;
        margin-bottom: 30px;
    }
    .text {
        font-size: 16px;
        line-height: 19px;
        font-family: Roboto, serif;
        margin-bottom: 20px;
    }
    .footer__item-hidden {
        display: none;
    }

    .footer__item-hidden-item {
        font-family: Roboto, serif;
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        opacity: 0.6;
    }
    .footer__item-contact-list {
        // margin-left: 30px;
        .contact-list__item:nth-child(1) {
            list-style-image: url(../../../img/svg/faceboo.png);
            padding-left: 6px;
            margin-left: 20px;
        }
        .contact-list__item:nth-child(2) {
            list-style-image: url(../../../img/svg/insta.png);
            margin-left: 27px;
        }
        .contact-list__item:nth-child(3) {
            list-style-image: url(../../../img/svg/twitta.png);
            margin-left: 27px;
        }
    }
    
    .button-show {
        margin-left: 15px;
        display: none;
    }
    .button-hide {
        display: none;
        margin-left: 15px;
    }
    .active {
        display: inline;
    }
    .active-items {
        display: inline;
    }
}

@media (max-width: 992px) {
    .footer {
        .footer__item-planer {
            img {
                width: 150px;
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 25px 45px;
        padding-left: 75px;
        .footer__item {
            width: 35%;
            margin-top: 20px;
        }
        .footer__item-planer {
            margin-left: 0;
            margin-top: 45px;
            img {
                width: 130px;
            }
        }
    }
}
@media (max-width: 480px) {
    .footer {
        .footer__item {
            width: 150px;
        }
        .footer__item-planer {
            margin-bottom: 10px;
            margin-top: 10px;
            img {
                width: 130px;
            }
        }
    }
}
