@mixin wrapper($topBottom, $leftRight) {
    margin: $topBottom $leftRight;
}
@mixin dFlex($jc, $ai, $fDirect, $fWrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fDirect;
    flex-wrap: $fWrap;
}
@mixin font($fFam, $fSize, $fColor, $fWeight) {
    font-family: $fFam;
    font-size: $fSize;
    color: $fColor;
    font-weight: $fWeight;    
}